doctype html
html
  head
    title Courriel
    link(rel="stylesheet", href="/css/jquery-ui.css")
    link(rel='stylesheet', href='/css/style.css')
    
    // script(src="/js/jquery-3.3.1.min.js")
    // script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    // script(src="/js/jquery-ui.js")
  body
    nav
      button(id='add-contact-btn') 
        | Add contact
        div(id='new-contact-div')
      button(id='reload-btn') Reload
      button(id='new-key-btn') 
        | Create identity
        div(id='create-handle-dialog' title='Add or generate a new key')
        div(id='edit-key-dialog' title='Add your key in PEM format')
    .tabs(id='tabs')
      ul
        li
          a(href='#inbox-div') Inbox
        li
          a(href='#write-div') Write a message
        li 
          a(href='#addrbook-div') Address book
        li
          a(href='#handles-div') Handles
        li 
          a(href='#about-div') About
      div(id='inbox-div')
        ul.no-bullet(id='msgs-ul')
        div(id='msg-div')
      div(id='write-div')
        | To:  
        select(id="write-select")
        button(id="send-btn") Send...
        div
          textarea(id='text-area')
      div(id='addrbook-div')
        div(id='addrbook')
      div(id='handles-div')
        div(id='handles')
      div(id='about-div').
        About courriel and how it works...
    script(src='/js/courriel.js')
