body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ui-widget-content textarea {
    width: 90%;
    height: 28em;
    font-family: monospace,monospace;
}

.tabs {
  width: 90%;
  height: 35em;
}

.border {
  border: solid;
  padding: 1em;
  margin: 0.3em;
}

.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.label {
  display:inline-block;
  text-align: left; 
  min-width: 200px;
  width: 200px;
}

p.label {
  margin-top: 1em;
  padding: 0.2em;
  margin-bottom: 0;
}

li.selected {
  background-color: lightgreen;
}
pre.msg {
  margin: 0.1em;
  background-color: lightgreen;
  padding: 0.3em;
}

pre.title {
  font-weight: bold;
  font-size: 133%;
}