body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
    width: 90%;
    height: 28em;
}

.tabs {
  width: 90%;
  height: 35em;
}

.border {
  border: solid;
  padding: 1em;
  margin: 0.3em;
}
